* {
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --resize-thumb: 3px;
}

html, body {
    height: 100%;
}

.input-table tr {
    margin: 0;
    width: 100%;
    height: 20px;
    border: none;
    background: #eee;
    display: flex;
}

.input-table tr td {
    width: 15px;
    height: 15px;
    margin: 2.5px;
    display: block;
    background: #f00;
}

.input-table {
    width: 100%;
}

/*.page-grid-contain {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 200px 200px 200px 200px;
    height: 100%;
}

.page-grid-contain div {
    border: 1px solid #000;
}

.input-container {
    resize: vertical;
    overflow: auto;
    min-height: 1r;
    max-width: 100%;
    grid-area: 1 / 1 / span 2 / span 1;
}

.properties-container {
    grid-area: 3 / 1 / span 2 / span 1;
}

.g-can-container {
    grid-area: 1 / 2 / span 3 / span 4;
}*/

.resize-vertical-bar {
    cursor: row-resize;
    width: 100%;
    height: var(--resize-thumb);
    background: rgba(0,0,0,0);
}
.resize-horizontal-bar {
    width: var(--resize-thumb);
    height: 100%;
    background: rgba(0,0,0,0);
    cursor: col-resize;
}

.resize-vertical-bar[bar-pos="top"] {
    position: absolute;
    top: 0;
    left: 0;
}

.resize-vertical-bar[bar-pos="bottom"] {
    position: absolute;
    bottom: 0;
    left: 0;
}

.resize-horizontal-bar[bar-pos="left"]  {
    position: absolute;
    top: 0;
    left: 0;
}

.resize-horizontal-bar[bar-pos="right"]  {
    position: absolute;
    top: 0;
    right: 0;
}

.g-can-container {
    height: auto;
    width: auto;
    flex-grow: 1;
}

.page-grid-contain {
    height: 100%;
    display: flex;
    width: 100%;
}

*[type='pcontainer'] {
    border: 1px solid #0f0;
}

.side-span-contain {
    position: relative;
    overflow: hidden;
}

.properties-container {
    flex-grow: 1;
    height: 100%;
}

.input-container {
    position: relative;
}